
/* ===================== Default setting ======================== */

/* declaring variables for the consistency of the format */
:root {
    --valhalla:  #2C2E43;
    --mulledWine: #595260;
    --ghost: #B2B1B9;
    --sunglow: #FFD523;
}



/* set-up default margin, padding, font and color */
*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font: 16px;
    color:var(--mulledWine);
}

/* The children element within body should be flexible*/
body{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    padding-left: 10%;
    padding-right: 10%;
    height:100vh;
    background-color:white;
}

/* ===================== Default setting ======================== */

.viewScoreBoardBlock{

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;

    width: 80%;
    height:10%;
    padding: 0;

}

.viewBoardBtn{

    width: 100%;
    height:100%;
    opacity: 1;
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    background-color: red;
    z-index:-1;

    font-size: 150%;

    /* Reset default drop shadow effect by changing the border */
    border: none;
    
    /* Set the text color here */
    color: black;

}

.viewBoardBtn:hover{
    /* How this button will transit? reset this background color */
    background-color: blue;
    opacity: 0.5;
    z-index:-1;
}

.quizIntroBlock{
    width: 75%;
    margin-bottom: 5%;
}

.quizTitle{
    font-size:200%;
    text-align: center;
    color: var(--sunglow);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid red;
}

.quizIntroText{
    font-size:80%;
    text-align: left;
    color: var(--mulledWine);
}

.startButtonBlock{

    width:150px;
    height:150px;

}

.startQuizBtn{

    width:100%;
    height:100%;
    border-radius: 50%;
    opacity: 1;
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    background-color: red;
    z-index:-1;

    font-size: 150%;

    /* Reset default drop shadow effect by changing the border */
    border: none;
    
    /* Set the text color here */
    color: black;

}

.startQuizBtn:hover{
    /* How this button will transit? reset this background color */
    background-color: blue;
    opacity: 0.5;
    z-index:-1;
}

.countDownBlock{
    background-color: aqua;
    width:120px;
    height:120px;
    text-align: center;;
    font-size: 60%;
    flex-wrap: wrap;
}

.residualTime{
    margin-top: 10%;
    font-size: 500%;
}

.previousResultBlock{
    height:5%;
    width:60%;
    margin: 1%;
    background-color: #2C2E43;
}

.questionBlock{
    padding: 0%;
    margin: 1%;
    width: 60%;
}

.answerBlock{
    padding: 0%;
    width: 60%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.answerList{
    list-style: none;
}

.backToMainBlock{
    position: absolute;
    bottom: 0%;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

    width: 25%;
    height:8%;
    padding: 0;

}

.backToMainBtn{

    width: 100%;
    height:100%;
    opacity: 1;
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    background-color: red;
    z-index:-1;

    font-size: 100%;

    /* Reset default drop shadow effect by changing the border */
    border: none;
    
    /* Set the text color here */
    color: black;

}

.backToMainBtn:hover{
    /* How this button will transit? reset this background color */
    background-color: blue;
    opacity: 0.5;
    z-index:-1;
}