
/* ===================== Default setting ======================== */

/* declaring variables for the consistency of the format */
:root {
    --valhalla:  #2C2E43;
    --mulledWine: #595260;
    --ghost: #B2B1B9;
    --sunglow: #FFD523;
}

/* set-up default margin, padding, font and color */
*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font: 16px;
    color:var(--mulledWine);
}

/* The children element within body should be flexible*/
body{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    padding-left: 10%;
    padding-right: 10%;
    height:100vh;
    background-color:var(--ghost);
}

/* ===================== Default setting ======================== */

/* WRAPPER - show score board button */
.viewScoreBoardBlock{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;

    width: 70%;
    height:10%;
    padding: 0;

}

/* BUTTON - show score board button */
.viewBoardBtn{

    width: 100%;
    height: 50px;

    border-radius: 25px;
    background-color: var(--mulledWine);
    color: var(--valhalla);
    
    opacity: 0.7;
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    z-index:-1;

    font-size: 100%;
    font-weight: 100;

    /* Reset default drop shadow effect by changing the border */
    border: 5px solid var(--valhalla);
    
    /* Set the text color here */
    color: black;
    font-weight: 500;

}

/* BUTTON effect - show score board button */
.viewBoardBtn:hover{
    /* How this button will transit? reset this background color */
    background: var(--valhalla);
    border: 5px solid var(--sunglow);
    color: var(--sunglow);
    font-weight: 500;
    opacity: 1;
    z-index:-1;
}

/* WRAPPER - quiz introduction block */
.quizIntroBlock{
    width: 70%;
    margin-bottom: 5%;
}

/* content - quiz title */
.quizTitle{
    font-size:200%;
    text-align: center;
    color: var(--sunglow);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--valhalla);
}

/* content - quiz introduction */
.quizIntroText{
    font-size:80%;
    text-align: left;
    color: var(--valhalla);
    font-weight: 700;
}

/* WRAPPER - start button */
.startButtonBlock{
    width:150px;
    height:150px;
}

/* BUTTON - a button to start the quiz */
.startQuizBtn{
    width:100%;
    height:100%;
    border-radius: 50%;
    opacity: 1;
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    background-color: var(--mulledWine);
    z-index:-1;
    opacity: 0.7;
    font-size: 150%;

    /* Reset default drop shadow effect by changing the border */
    border: 5px solid var(--valhalla);
    
    /* Set the text color here */
    color: black;

}

/* BUTTON effect - show score board button */
.startQuizBtn:hover{
    /* How this button will transit? reset this background color */
    border: 5px solid var(--sunglow);
    background-color: var(--valhalla);
    color: var(--sunglow);
    opacity: 1;
    z-index:-1;
}

/* WRAPPER - countdown block - how many seconds until the end of the world */
.countDownBlock{
    background-color: var(--ghost);
    font-weight: 500;
    width:120px;
    height:120px;
    text-align: center;;
    font-size: 60%;
    flex-wrap: wrap;
}

/* content - how many seconds until the end of the world */
.residualTime{
    margin-top: 10%;
    font-size: 600%;
    font-weight: 700;
    color:var(--sunglow);
}

/* WRAPPER - show your previous result */
.previousResultBlock{
    height:5%;
    width:60%;
    margin: 1%;
    background-color:var(--ghost);
    font-weight: 500;
}

.previousResultText{
    text-align: center;
    color: var(--valhalla);
}

/* WRAPPER - question */
.questionBlock{
    padding: 0%;
    margin: 1%;
    width: 60%;
    font-weight: 500;
    color: var(--valhalla);
}

/* WRAPPER - answers */
.answerBlock{
    padding: 0%;
    width: 60%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* content - a list of choices you can select from */
.answerList{
    list-style: none;
}

/* wrapper - bottom button to go back to the main block */
.backToMainBlock{
    position: absolute;
    bottom: 0%;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

    width: 25%;
    height:8%;
    padding: 0;
}

/* BUTTON - bottom button to go back to the main block */
.backToMainBtn{

    width: 100%;
    height: 50px;

    border-radius: 25px;
    background-color: var(--mulledWine);
    color: var(--valhalla);
    
    opacity: 0.7;
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    z-index:-1;

    font-size: 100%;
    font-weight: 100;

    /* Reset default drop shadow effect by changing the border */
    border: 5px solid var(--valhalla);
    
    /* Set the text color here */
    color: black;
    font-weight: 500;

}

/* BUTTON effect - bottom button to go back to the main block */
.backToMainBtn:hover{
    /* How this button will transit? reset this background color */
    background: var(--valhalla);
    border: 5px solid var(--sunglow);
    color: var(--sunglow);
    font-weight: 500;
    opacity: 1;
    z-index:-1;
}

/* content - history score board */
.scoreHistory{
    /* Get rid of the list style */
    list-style: none;
}

.singleAnswerBtn {
    margin: 10px;
    padding-left: 10px;
    text-align: start;

    width: 100%;
    height: 30px;

    background-color: var(--mulledWine);
    color: var(--valhalla);
    
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    z-index:-1;

    font-size: 100%;
    font-weight: 100;

    /* Reset default drop shadow effect by changing the border */
    border: none;
    
    /* Set the text color here */
    color: var(--sunglow);
    font-weight: 300;
}

.singleAnswerBtn:hover{
    /* How this button will transit? reset this background color */
    background: var(--sunglow);
    color: var(--valhalla);
    opacity: 1;
    z-index:-1;
}

.thisResultBlock{
    padding: 0%;
    width: 60%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.thisResultBlock > * {
    margin: 5px;
}

#submitName {
    margin: 10px;
    padding-left: 10px;
    text-align: start;

    width: 100%;
    height: 30px;

    background-color: var(--mulledWine);
    color: var(--valhalla);
    
    display:block;
    transition: .3s ease-in;
    backface-visibility:hidden;
    z-index:-1;

    font-size: 100%;
    font-weight: 100;

    /* Reset default drop shadow effect by changing the border */
    border: none;
    
    /* Set the text color here */
    color: var(--sunglow);
    font-weight: 300;
}

#submitName:hover{
    /* How this button will transit? reset this background color */
    background: var(--sunglow);
    color: var(--valhalla);
    opacity: 1;
    z-index:-1;
}

.scoreBoardTitle{
    margin: 20px;
    font-size:200%;
    text-align: center;
    color: var(--sunglow);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--valhalla);
}